# Data Preview

## 1. Importing data

In [43]:
import pandas as pd
import numpy as np

# Specify the file path of the CSV file
file_paths = {
    "olx": "..\\data\\raw\\2023_11_27_19_41_45_Mierzęcice__Będziński__Śląskie\\olx.pl.csv",
    "otodom": "..\\data\\raw\\2023_11_27_19_41_45_Mierzęcice__Będziński__Śląskie\\otodom.pl.csv"
}

# Read the CSV file into a pandas DataFrame
df_otodom = pd.read_csv(file_paths["otodom"])
df_olx = pd.read_csv(file_paths["olx"])

## 2. Data preview

### 2.1 OLX

In [2]:
df_olx.head()

,link,title,price,summary_description,location,ownership,floor_level,is_furnished,building_type,square_meters,number_of_rooms,rent
0,https://www.olx.pl/d/oferta/kawalerka-tychy-os...,Kawalerka Tychy oś M,1 500 zł,OpisWynajmę kawalerkę na ul Moniuszki 1/16 .na...,"Śląskie, Zawada",Prywatne,Poziom: 3,Umeblowane: Nie,Rodzaj zabudowy: Apartamentowiec,Powierzchnia: 26 m²,Liczba pokoi: Kawalerka,Czynsz (dodatkowo): 400 zł

In [3]:
df_olx.columns

Index(['link', 'title', 'price', 'summary_description', 'location',
       'ownership', 'floor_level', 'is_furnished', 'building_type',
       'square_meters', 'number_of_rooms', 'rent'],
      dtype='object')

### 2.2 Otodom

### 2.2.1 Data Shape

In [4]:
df_otodom.head()

,link,title,location,price,summary_description,square_meters,rent,number_of_rooms,deposit,floor_level,...,equipment,media_types,heating,security,windows,elevator,parking_space,build_year,building_material,additional_information
0,https://www.otodom.pl/pl/oferta/mieszkania-2-p...,Mieszkania 2 pokojowe cena z ogrzewaniem,"ul. Karola Szymanowskiego 44, Zagórze Północ, ...",2 000 zł,Do wynajęcia 6 mieszkań o powierzchni od 42-58...,42 m²,NaN,2,4 000 zł,parter/2,...,"lodówka, meble, piekarnik, kuchenka, pralka","telewizja kablowa, internet",gazowe,"drzwi / okna antywłamaniowe, teren zamknięty, ...",plastikowe,nie,garaż/miejsce parkingowe,brak informacji,cegła,"piwnica, oddzielna kuchnia, pom. użytkowe"
1,https://www.otodom.pl/pl/oferta/kawalerka-w-ka...,Kawalerka w Katowicach do wynajęcia od zaraz,"ul. Haliny Krahelskiej, Osiedle Paderewskiego-...",1 500 zł,"Nowe, (2018), komfortowe, jasne, w pełni wypos...",19 m²,250 zł/miesiąc,1,1 500 zł,3/3,...,"zmywarka, lodówka, meble, kuchenka, telewizor,...","telewizja kablowa, internet",gazowe,"teren zamknięty, domofon / wideofon",plastikowe,nie,garaż/miejsce parkingowe,2018,cegła,tylko dla niepalących
2,https://www.otodom.pl/pl/oferta/mam-do-wynajec...,Mam do wynajęcia mieszkanie Bezpośrednio !,"ul. Beskidzka, Chorzów II, Chorzów, śląskie",1 499 zł,"Witam.Mam do wynajęcia mieszkanie w Chorzowie,...",55 m²,799 zł/miesiąc,2,4 500 zł,parter/2,...,"zmywarka, lodówka, meble, piekarnik, kuchenka,...","telewizja kablowa, internet",miejskie,"drzwi / okna antywłamaniowe, teren zamknięty, ...",plastikowe,nie,garaż/miejsce parkingowe,2004,cegła,"piwnica, pom. użytkowe"
3,https://www.otodom.pl/pl/oferta/kawalerka-os-p...,Kawalerka os. Paderewskiego,"ul. Graniczna, Osiedle Paderewskiego-Muchowiec...",1 400 zł,Oferujemy do wynajęcia przytulną kawalerkę zlo...,31 m²,1 zł/miesiąc,1,1 400 zł,10/10,...,"lodówka, piekarnik, pralka",brak informacji,miejskie,brak informacji,brak informacji,nie,brak informacji,brak informacji,brak informacji,brak informacji
4,https://www.otodom.pl/pl/oferta/ul-1000-lecia-...,ul.1000-lecia Dąbrowa Górnicza Gołonóg 50m2 2 pok,"1000 lecia, Brodway, Gołonóg Północny, Dąbrowa...",1 500 zł,Do wynajęcia mieszkanie 50m2 DąbrowaGórnicza G...,50 m²,700 zł/miesiąc,2,2 000 zł,> 10/13,...,brak informacji,brak informacji,miejskie,brak informacji,plastikowe,tak,brak informacji,1980,wielka płyta,piwnica

In [5]:
df_otodom.sample(3)

,link,title,location,price,summary_description,square_meters,rent,number_of_rooms,deposit,floor_level,...,equipment,media_types,heating,security,windows,elevator,parking_space,build_year,building_material,additional_information
721,https://www.otodom.pl/pl/oferta/nowe-2-pokoje-...,Nowe - 2 pokoje Mieszkanie z oddzielną kuchnią,"ul. Ceglana, Brynów-Osiedle Zgrzebnioka, Katow...",2 500 zł,Zapraszamy do wynajęcia uroczego mieszkania w ...,"44,58 m²",700 zł/miesiąc,2,NaN,3/6,...,meble,internet,miejskie,monitoring / ochrona,brak informacji,tak,garaż/miejsce parkingowe,2021,pustak,"oddzielna kuchnia, pom. użytkowe"
561,https://www.otodom.pl/pl/oferta/przestronne-1-...,Przestronne 1 pokojowe mieszkanie Pogoń,"Pogoń, Sosnowiec, śląskie",1 250 zł,Przytulne 1 pokojowe mieszkanie z dużą kuchnią...,38 m²,400 zł/miesiąc,1,1 800 zł,1/4,...,"lodówka, meble, piekarnik, kuchenka, pralka","telewizja kablowa, internet, telefon",miejskie,"drzwi / okna antywłamaniowe, teren zamknięty, ...",plastikowe,nie,brak informacji,1970,wielka płyta,"piwnica, oddzielna kuchnia"
869,https://www.otodom.pl/pl/oferta/mieszkanie-36-...,"Mieszkanie, 36 m², Sosnowiec","Klimontów, Sosnowiec, śląskie",1 750 zł,---OFERTA DOSTĘPNA W NASZYM BIURZE --- 2POKOJE...,36 m²,NaN,2,1 750 zł,1/4,...,brak informacji,"telewizja kablowa, internet, telefon",miejskie,brak informacji,plastikowe,nie,garaż/miejsce parkingowe,brak informacji,cegła,oddzielna kuchnia

In [6]:

# Count the number of duplicates in the DataFrame
duplicate_count = df_otodom.duplicated().sum()

# Print the count of duplicates
print("Number of duplicates:", duplicate_count)
del duplicate_count

Number of duplicates: 0

In [7]:
df_otodom.isna().sum()

link                        0
title                       0
location                    0
price                       0
summary_description         0
square_meters               0
rent                      513
number_of_rooms             0
deposit                   363
floor_level                23
building_type             105
available_from            958
balcony_garden_terrace    478
remote service              0
completion                173
ownership                   0
rent_to_students            0
equipment                   0
media_types                 0
heating                     0
security                    0
windows                     0
elevator                    0
parking_space               0
build_year                  0
building_material           0
additional_information      0
dtype: int64

In [8]:
len(df_otodom)

1105

In [9]:
df_otodom.columns

Index(['link', 'title', 'location', 'price', 'summary_description',
       'square_meters', 'rent', 'number_of_rooms', 'deposit', 'floor_level',
       'building_type', 'available_from', 'balcony_garden_terrace',
       'remote service', 'completion', 'ownership', 'rent_to_students',
       'equipment', 'media_types', 'heating', 'security', 'windows',
       'elevator', 'parking_space', 'build_year', 'building_material',
       'additional_information'],
      dtype='object')

In [10]:
df_otodom.dtypes

link                      object
title                     object
location                  object
price                     object
summary_description       object
square_meters             object
rent                      object
number_of_rooms            int64
deposit                   object
floor_level               object
building_type             object
available_from            object
balcony_garden_terrace    object
remote service            object
completion                object
ownership                 object
rent_to_students          object
equipment                 object
media_types               object
heating                   object
security                  object
windows                   object
elevator                  object
parking_space             object
build_year                object
building_material         object
additional_information    object
dtype: object

In [11]:
df_otodom.describe()

       number_of_rooms
count      1105.000000
mean          2.120362
std           0.858141
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max           6.000000

### 2.2.2 Selected columns

In [ ]:
def count_and_percentage(df, column_name):
    """
    Function to calculate the count and percentage of unique values in a given column of a DataFrame.

    Parameters:
    df (pandas.DataFrame): The DataFrame to analyze.
    column_name (str): The name of the column in the DataFrame.

    Returns:
    pandas.DataFrame: A DataFrame with count and percentage of each unique value in the specified column.
    """
    # Check if the column exists in the DataFrame
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' not found in DataFrame.")

    # Calculate count and normalized values
    count = df[column_name].value_counts(dropna=False)
    normalized = df[column_name].value_counts(dropna=False, normalize=True) * 100

    # Concatenate count and normalized values side by side
    result = pd.concat([count, normalized], axis=1)
    result.columns = ['Count', 'Percentage']

    return result

In [59]:
def count_comma_separated_values(df, column_name):
    """
    Counts the occurrences of individual elements in a comma-separated string column of a DataFrame.

    Parameters:
    df (pandas.DataFrame): The DataFrame containing the column.
    column_name (str): The name of the column to analyze.

    Returns:
    pandas.Series: A Series with counts for each unique element.
    """
    # Check if the column exists in the DataFrame
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' not found in DataFrame.")

    # Split the column values, explode to individual elements, and count
    exploded_items = df[column_name].dropna().str.split(', ').explode()
    counts = exploded_items.value_counts()

    return counts

#### 2.2.2.1 location

In [12]:
df_otodom["location"].unique()[:10]

array(['ul. Karola Szymanowskiego 44, Zagórze Północ, Sosnowiec, śląskie',
       'ul. Haliny Krahelskiej, Osiedle Paderewskiego-Muchowiec, Katowice, śląskie',
       'ul. Beskidzka, Chorzów II, Chorzów, śląskie',
       'ul. Graniczna, Osiedle Paderewskiego-Muchowiec, Katowice, śląskie',
       '1000 lecia, Brodway, Gołonóg Północny, Dąbrowa Górnicza, śląskie',
       'ul. rtm. Witolda Pileckiego, Centrum / Śródmieście, Sosnowiec, śląskie',
       'ul. Bytomska, Piekary Śląskie, śląskie',
       'ul. Bohaterów Monte Cassino, Zawodzie, Katowice, śląskie',
       'ul. Francuska, Osiedle Paderewskiego-Muchowiec, Katowice, śląskie',
       'ul. Litewska, Pogoń, Sosnowiec, śląskie'], dtype=object)

#### 2.2.2.2 price

In [13]:
df_otodom["price"].sort_values().head()

367    1 000 zł
658    1 000 zł
810    1 000 zł
832    1 000 zł
490    1 000 zł
Name: price, dtype: object

In [14]:
df_otodom["price"].sort_values().tail()

732    990 zł
844    990 zł
307    990 zł
641    990 zł
325    999 zł
Name: price, dtype: object

In [15]:
df_otodom["price"].value_counts().head()

1 500 zł    76
2 000 zł    56
2 500 zł    55
1 800 zł    48
2 200 zł    46
Name: price, dtype: int64

In [16]:
df_otodom["price"].value_counts().tail()

1 310 zł    1
3 299 zł    1
1 210 zł    1
3 150 zł    1
690 zł      1
Name: price, dtype: int64

#### 2.2.2.3 rent (additional fee for the housing association or owner)

In [17]:
df_otodom["rent"].dropna().sort_values().head()

302    1 000 zł/miesiąc
873    1 000 zł/miesiąc
693    1 000 zł/miesiąc
557    1 000 zł/miesiąc
376    1 000 zł/miesiąc
Name: rent, dtype: object

In [18]:
df_otodom["rent"].dropna().sort_values().tail()

417    980 zł/miesiąc
238    980 zł/miesiąc
301    980 zł/miesiąc
532    980 zł/miesiąc
769    990 zł/miesiąc
Name: rent, dtype: object

In [19]:
df_otodom["rent"].value_counts().head()

500 zł/miesiąc    41
700 zł/miesiąc    35
600 zł/miesiąc    33
400 zł/miesiąc    33
800 zł/miesiąc    27
Name: rent, dtype: int64

In [20]:
df_otodom["rent"].value_counts().tail()

277 zł/miesiąc    1
65 zł/miesiąc     1
386 zł/miesiąc    1
963 zł/miesiąc    1
318 zł/miesiąc    1
Name: rent, dtype: int64

#### 2.2.2.4 number_of_rooms
The number of separate rooms besides the kitchen, the bathroom, the hallway, and any utility or storage rooms. This typically includes bedrooms, living rooms, dining rooms, and studies, but excludes any space not designated for regular living or sleeping purposes.

In [22]:
df_otodom["number_of_rooms"].value_counts()

2    572
1    242
3    222
4     61
6      7
5      1
Name: number_of_rooms, dtype: int64

#### 2.2.2.5 deposit
The one-time deposit to secure the rental agreement typically amounts to one or two months' rent. This deposit is held by the landlord as a security against potential damages or unpaid rent, and is usually refundable at the end of the tenancy, provided the property is left in its original condition and all contractual obligations have been met.

In [28]:
df_otodom["deposit"].dropna().sort_values().head()

367     1 000 zł
64      1 050 zł
57      1 190 zł
937     1 200 zł
1101    1 200 zł
Name: deposit, dtype: object

In [29]:
df_otodom["deposit"].dropna().sort_values().tail()

749    9 000 zł
949    9 000 zł
240    9 000 zł
881    9 200 zł
972      900 zł
Name: deposit, dtype: object

In [30]:
df_otodom["deposit"].dropna().value_counts().head()

3 000 zł    141
2 000 zł    109
2 500 zł     77
4 000 zł     53
5 000 zł     37
Name: deposit, dtype: int64

In [31]:
df_otodom["deposit"].dropna().value_counts().tail()

2 050 zł    1
6 400 zł    1
430 zł      1
6 600 zł    1
850 zł      1
Name: deposit, dtype: int64

#### 2.2.2.6 floor_level

In [32]:
df_otodom["floor_level"].value_counts().head()

2/4    89
1/4    82
3/4    73
1/3    69
4/4    58
Name: floor_level, dtype: int64

In [35]:
df_otodom["floor_level"].value_counts().tail()

2/11          1
3/12          1
parter/6      1
8/12          1
poddasze/3    1
Name: floor_level, dtype: int64

In [37]:
df_otodom["floor_level"].str.replace('[^a-zA-Z]', '', regex=True).unique()

array(['parter', '', 'poddasze', nan, 'suterena'], dtype=object)

- 'parter' - 'ground floor'
- 'poddasze' - 'attic'
- 'suterena' - 'semi-basement'

#### 2.2.2.7 building_type

In [40]:
df_otodom["building_type"].value_counts(dropna=False)

blok                482
apartamentowiec     256
kamienica           231
NaN                 105
dom wolnostojący     28
szeregowiec           3
Name: building_type, dtype: int64

- 'blok' - 'block of flats' or 'apartment block'
- 'apartamentowiec' - 'apartment building'
- 'kamienica' - 'tenement house' (often refers to a historic, multi-story building in urban areas)
- 'dom wolnostojący' - 'detached house'
- 'szeregowiec' - 'terraced house' or 'row house' (a type of house connected in a row with others)

#### 2.2.2.7 available_from

In [41]:
df_otodom["available_from"].value_counts(dropna=False)

NaN           958
2023-12-01     21
2023-11-01     11
2023-11-20      6
2023-11-06      5
             ...
2023-12-04      1
2023-09-28      1
2023-04-20      1
2023-11-10      1
2023-09-01      1
Name: available_from, Length: 79, dtype: int64

In [49]:
# Last 5 dates
np.sort(df_otodom["available_from"].dropna().unique())[:5]

array(['2019-02-28', '2019-07-16', '2020-03-06', '2021-01-04',
       '2021-05-01'], dtype=object)

In [51]:
# First 5 dates
np.sort(df_otodom["available_from"].dropna().unique())[-6:-1]

array(['2023-12-04', '2023-12-15', '2024-01-01', '2024-01-02',
       '2024-01-08'], dtype=object)

#### 2.2.2.8 balcony_garden_terrace

In [52]:
df_otodom["balcony_garden_terrace"].value_counts(dropna=False)

balkon                    509
NaN                       478
balkon, taras              42
taras                      35
ogródek                    23
balkon, ogródek             7
ogródek, taras              6
balkon, ogródek, taras      5
Name: balcony_garden_terrace, dtype: int64

- 'balkon' - 'balcony'
- 'taras' - 'terrace'
- 'ogródek' - 'garden' (often refers to a small, private garden space)

#### 2.2.2.9 completion

In [53]:
df_otodom["completion"].value_counts(dropna=False)

do zamieszkania    915
NaN                173
do remontu          10
do wykończenia       7
Name: completion, dtype: int64

- 'do zamieszkania' - 'ready to move in' or 'move-in ready'
- 'do remontu' - 'in need of renovation' or 'requires renovation'
- 'do wykończenia' - 'to be finished' or 'unfinished' (indicating that the property needs final finishing works)

#### 2.2.2.10 ownership

In [54]:
df_otodom["ownership"].value_counts(dropna=False)

biuro nieruchomości    819
prywatny               283
deweloper                3
Name: ownership, dtype: int64

- 'biuro nieruchomości' - 'real estate agency'
- 'prywatny' - 'private' (often indicating a private seller or individual owner)
- 'deweloper' - 'developer' (referring to a property development company or builder)

#### 2.2.2.11 equipment

In [60]:
count_comma_separated_values(df_otodom, "equipment")

meble              728
lodówka            597
kuchenka           578
pralka             553
piekarnik          507
zmywarka           351
brak informacji    314
telewizor          278
Name: equipment, dtype: int64

- 'meble' - 'furniture'
- 'lodówka' - 'refrigerator'
- 'kuchenka' - 'cooker' or 'stove'
- 'pralka' - 'washing machine'
- 'piekarnik' - 'oven'
- 'zmywarka' - 'dishwasher'
- 'brak informacji' - 'no information' or 'not specified'
- 'telewizor' - 'television'

#### 2.2.2.12 media_types

In [61]:
count_comma_separated_values(df_otodom, "media_types")

brak informacji      627
internet             452
telewizja kablowa    354
telefon              153
Name: media_types, dtype: int64

- 'brak informacji' - 'no information' or 'not specified'
- 'internet' - 'internet'
- 'telewizja kablowa' - 'cable TV'
- 'telefon' - 'telephone'

#### 2.2.2.13 heating

In [62]:
count_comma_separated_values(df_otodom, "heating")

miejskie           681
brak informacji    215
gazowe             125
elektryczne         40
inne                26
kotłownia           15
piece kaflowe        3
Name: heating, dtype: int64

- 'miejskie' - 'municipal' or 'district heating'
- 'brak informacji' - 'no information' or 'not specified'
- 'gazowe' - 'gas'
- 'elektryczne' - 'electric'
- 'inne' - 'other'
- 'kotłownia' - 'boiler room'
- 'piece kaflowe' - 'tiled stoves' or 'ceramic stoves'

#### 2.2.2.14 windows

In [63]:
count_comma_separated_values(df_otodom, "windows")

plastikowe         791
brak informacji    284
drewniane           26
aluminiowe           4
Name: windows, dtype: int64

- 'plastikowe' - 'plastic'
- 'brak informacji' - 'no information' or 'not specified'
- 'drewniane' - 'wooden'
- 'aluminiowe' - 'aluminum'

#### 2.2.2.15 elevator

In [64]:
count_comma_separated_values(df_otodom, "elevator")

nie    701
tak    404
Name: elevator, dtype: int64

- 'nie' - 'no'
- 'tak' - 'yes'

#### 2.2.2.16 parking_space

In [65]:
count_comma_separated_values(df_otodom, "parking_space")

brak informacji             755
garaż/miejsce parkingowe    350
Name: parking_space, dtype: int64

- 'brak informacji' - 'no information' or 'not specified'
- 'garaż/miejsce parkingowe' - 'garage/parking space'

#### 2.2.2.17 build_year

In [66]:
count_comma_separated_values(df_otodom, "build_year")

brak informacji    629
2022                61
1980                60
2021                47
2023                39
                  ...
1893                 1
1992                 1
1935                 1
1956                 1
1940                 1
Name: build_year, Length: 68, dtype: int64

In [78]:
df_otodom_filtered = df_otodom[df_otodom['build_year'].notna() & (df_otodom['build_year'] != 'brak informacji')].astype({'build_year': 'int32'}).sort_values(by='build_year')
df_otodom_filtered['build_year'].tail()

80     2023
881    2023
220    2025
188    2025
36     2025
Name: build_year, dtype: int32

In [79]:
df_otodom_filtered['build_year'].head()

445    1893
840    1900
141    1900
381    1900
250    1900
Name: build_year, dtype: int32

#### 2.2.2.18 building_material

In [67]:
count_comma_separated_values(df_otodom, "building_material")

brak informacji    548
cegła              279
wielka płyta       119
pustak              65
inne                42
żelbet              17
beton               16
silikat              8
beton komórkowy      7
drewno               3
keramzyt             1
Name: building_material, dtype: int64

- 'brak informacji' - 'no information' or 'not specified'
- 'cegła' - 'brick'
- 'wielka płyta' - 'large panel' (a type of panel building construction)
- 'pustak' - 'hollow brick' or 'concrete block'
- 'inne' - 'other'
- 'żelbet' - 'reinforced concrete'
- 'beton' - 'concrete'
- 'silikat' - 'silicate' (referring to silicate brick)
- 'beton komórkowy' - 'aerated concrete'
- 'drewno' - 'wood'
- 'keramzyt' - 'expanded clay' (a lightweight aggregate used in construction)